<p>show works!</p>
<div class="class">
    <h3>
        Blog Id {{proddetails[pid].id}}
    </h3>
    <h3>
        Blog name {{proddetails[pid].name}}
    </h3>
    <h3>
        Blog created at"{{proddetails[pid].createdAt}}""
    </h3>
    <h3>
        Blog Avatar "{{proddetails[pid].avatar}}""
    </h3>
    <h3>
        Blog details "{{proddetails[pid].Blog}}"
    </h3>
    <h2>
        <a href="https://5f04d0368b06d60016ddf0e7.mockapi.io/users"> Click here to fetch data</a>
    </h2>
    <button type="button" routerLink="/">click to go to back</button>
</div>